* {
    margin: 0;
    padding: 0
}
.menu-container {
    width: 100%;
    background-color: burlywood;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.content {
    width: 1000px;
    height: 1000px;
    margin: 60px auto;
    background-color: bisque;
    position: relative;
    
}
.content .block {
    width: 200px;
    height: 200px;
    color: white;
    font-family: monospace;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    
}
.content .block.static {
    background-color: cadetblue; 
    
}
.content .block.absolute {
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 50px;
}
.content .block.relative {
    background-color: blue;
    position: relative;
    top: 0px;
    left: 100px;
}